<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Bachelors in Computer Engineering</h1>
            <span>Delhi Technological University</span>
            <span>
                <address>Delhi, India</address><time>2016-2020</time>
            </span>
        </header>
        <p>
            <em>Graduated majoring in Computer Engineering with the CGPA of 8.94. I pursued coursworks like Data
                Structures and Algorithms, Data Warehouse & Data Mining,
                Swarm Intelligence, Computer Vision, Operating Systems, Database
                Management System, Object-Oriented Programming</em>
        </p>
    </article>
    <article>
        <header>
            <h1>CBSE Class XII and X</h1>
            <span>Bal Bharati Public School</span>
            <span>
                <address>Delhi, India</address><time>till 2016</time>
            </span>
        </header>
        <p>
            <em>Class XII - 96.4% | Class X - 10.0 CGPA</em>
        </p>
    </article>
</section>