<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Software Engineer</h1>
            <span>
                <address>Citicorp, India</address><time>2020 to Present</time>
            </span>
        </header>
        <p>Responsible for designing, developing, and implementing a
            microservices-based Equities Low Touch Trading Platform, built using
            Java and Springboot. <br>Developed a monitoring microservice, which monitors the connection
            status of the clients and calculates the expected session timings
            across timezones based on historical data in real-time. <br>Working on a client simulator, which facilitates the
            placement of
            orders and establishing connection with low touch trading module. </p>
    </article>
    <article>
        <header>
            <h1>Undergraduate Researcher</h1>
            <span>
                <address>Delhi Technological University, India</address><time>2019-2022</time>
            </span>
        </header>
        <p>Worked under the mentorship of Professor Dr. Rajini Jindal.
            Researched to develop a novel preprocessing and feature extraction
            method of predicting the mortality of patients within the early hours
            of ICU. <br> <a href="https://doi.org/10.1007/978-981-15-7078-0_15" target="_blank"><i style="color:#27A822;">Research work</i></a> was accepted in International Conference on
            Information and Communication Technology for Intelligent Systems
            2020, and was published in Springer Nature SIST Series.<br>
            </p>
    </article>
    <article>
        <header>
            <h1>Software Engineering Intern</h1>
            <span>
                <address>Citicorp, India</address><time>2019</time>
            </span>
        </header>
        <p>Worked on automating the process managing test JIRAs from the
            inputted Cucumber Feature Files to achieve operational efficiency of
            30 hours to 1 min per week using Java.</p>
    </article>
    <article>
        <header>
            <h1>Software Engineering Intern</h1>
            <span>
                <address>SportsApp, Hanusha Networks, India</address><time>2017-2018</time>
            </span>
        </header>
        <p>Worked on designing and developing of a professional sports social
            networking android application using Java, Android SDK, XML.</p>
    </article>
    <article>
        <header>
            <h1>Android Development Intern</h1>
            <span>
                <address>Binge Digital (acquired by Dineout), India</address><time>2017</time>
            </span>
        </header>
        <p> Worked on UI/UX and algorithmic tasks of Binge Digital android
            application.
        </p>
    </article>
</section>