<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Application Developer II</h1>
            <span>
                <address>Citi, India</address><time>2020 to Present</time>
            </span>
        </header>
        <p><strong>Global Alternative Investment Management System (GAMS):</strong> Working on the backend development to facilitate the management and order creation of funds in the domain of Private Equity, Real Estate, and Hedge Funds. Set up the CI-CD pipeline of a GAMS microservice to facilitate the launching of various funds from fund houses globally for investors with Citi.
            <br><strong>OneConnect:</strong> Worked on the low latency trading platforms facilitating trades for all the major markets like NAM (North America), EMEA (UK), APAC (India, Korea, Japan, Hong Kong, Singapore). 
            Took the ownership of monitoring microservice, which monitors the connection status of the clients of Citi and calculates the expected session timings across timezones based on historical data in real-time. This led to being the ‘eyes’ of Oneconnect to monitor clients, and if they are facing any issues in real-time.
            <br><strong>OneClientSimulator:</strong> Led and executed a full-stack tool that facilitates the placement of orders like Market, Limit, GTC/D, etc. orders. The project was delivered across stakeholders in Citi, replacing the existing third-party desktop tool globally. This led to a much more advanced and scalable tool to place orders to the exchange, with additional features to enhance user experience.
<!-- Responsible for designing, developing, and implementing a
            microservices-based Equities Low Touch Trading Platform, built using
            Java and Springboot. <br>Developed a monitoring microservice, which monitors the connection
            status of the clients and calculates the expected session timings
            across timezones based on historical data in real-time. <br>Working on a client simulator, which facilitates the
            placement of
            orders and establishing connection with low touch trading module. </p> -->
    </article>
    <article>
        <header>
            <h1>Graduate Researcher</h1>
            <span>
                <address>Delhi Technological University, India</address><time>2021-Present</time>
            </span>
        </header>
        <p>Researching under the supervision of Dr. Ruchika Malhotra, Head of Department, Department of Software Engineering.
            <br>Research work aimed to predict and analyze the reaction of the citizens of India over the different phases of the pandemic in India. An unsupervised learning framework has been developed for emotion classifications on tweets extracted from Twitter. Researched to develop a novel preprocessing and feature extraction.
            </p>
    </article>
    <article>
        <header>
            <h1>Graduate Researcher</h1>
            <span>
                <address>Delhi Technological University, India</address><time>2021-Present</time>
            </span>
        </header>
        <p>Researching under the mentorship of Dr. Sanjay Kumar.
            <br>Researching on an inventive method to detect COVID'19 using self-built a neural network and deep learning models on two datasets of Chest XRay Images. The research is currently under review at Springer Health and Technology Journal.
            </p>
    </article>
    <article>
        <header>
            <h1>Undergraduate Researcher</h1>
            <span>
                <address>Delhi Technological University, India</address><time>2019-2020</time>
            </span>
        </header>
        <p>Worked under the mentorship of Professor Dr. Rajini Jindal.
            Researched to develop a novel preprocessing and feature extraction
            method of predicting the mortality of patients within the early hours
            of ICU. <br> <a href="https://doi.org/10.1007/978-981-15-7078-0_15" target="_blank"><i style="color:#27A822;">Research work</i></a> was accepted in International Conference on
            Information and Communication Technology for Intelligent Systems
            2020, and was published in Springer Nature SIST Series.<br>
            </p>
    </article>
    <article>
        <header>
            <h1>Software Engineering Intern</h1>
            <span>
                <address>Citi, India</address><time>2019</time>
            </span>
        </header>
        <p>Worked on automating the process managing test JIRAs from the
            inputted Cucumber Feature Files to achieve operational efficiency of
            30 hours to 1 min per week using Java.</p>
    </article>
    <article>
        <header>
            <h1>Technology Lead</h1>
            <span>
                <address>SportsApp, Hanusha Networks, India</address><time>2017-2018</time>
            </span>
        </header>
        <p>Led the development of a social networking cross-platform application (web + android), launched its full-stack beta version, played a pivotal role in seed round investor funding and market trials for the application.</p>
    </article>
    <article>
        <header>
            <h1>Android Development Intern</h1>
            <span>
                <address>Binge Digital (acquired by Dineout), India</address><time>2017</time>
            </span>
        </header>
        <p> Worked on Android application development, UI/UX and algorithmic tasks of Binge Digital, a food browsing network. Played a pivotal role in the startup beign acquired by India's Largest Food Internet Company
        </p>
    </article>
</section>