<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.url }}"><i class="fa fa-home"></i></a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.baseurl }}publications.html">PUBLICATIONS</a></li>
        <li><a href="{{ site.baseurl }}projects.html">PROJECTS</a></li>
        <li><a href="{{ site.baseurl }}resume.html">WORK EXPERIENCE</a></li>
        <li><a href="{{ site.baseurl }}por.html">VOLUNTEERING</a></li>
        <!-- <li><a href="{{ site.baseurl }}resume.html">TECHNOLOGY STACK</a></li> -->
        <li><a href="https://drive.google.com/file/d/12UsPNny3USZxqOJi1AzGT8XrXc8a4zhT/view" target="_blank">RESUME</a></li>
        
      </ul>
    </div>
  </div>
</nav>
