<section id="projects">
	<div class="container">
		<h3><strong>Volunteering and Positions of Responsibility </h3></strong>
		<div class="panel panel-default">
			<div class="panel-body">
                <h5><i class="fa fa-dot-circle"></i>&nbsp;&nbsp;<strong>Volunteer, Citigroup 
					(2021)</strong></h5>
					<h6>
						<p  align="justify">Volunteered for the Audio Book Recording event, which ran for a few weeks leading up to World Braille Day, by recording a couple of books in collaboration with an NGO for the disabled. These recorded books reach the visually impaired people, where they can listen and learn through these audiobooks.
							
						</p>
					</h6>
					<br>
                    <h5><i class="fa fa-dot-circle"></i>&nbsp;&nbsp;<strong>Member, Rotaract Club, Delhi Technological University (2016-2020) </strong></h5>
                        <h6>
                            <p  align="justify">As an active member of Rotaract Club, the emphasis has been to provide for the community. We organized multiple events like Diwali Mela Annually for multiple causes like flood relief, veterans, underprivileged kids.
                                Blood Donation Camps (quarterly) and Rotaract MUNs (annually) were organized on the campus. Awareness campaigns for themes like LGBTQ, Women Health, and Hygiene were curated for the peers of our university.                               
                                
                            </p>
                        </h6>
                        <br>
				<h5><i class="fa fa-dot-circle"></i>&nbsp;&nbsp;<strong>Adjudicator and Mentor, Rotathon - Rotary Hackathon and Ideathon 
					(2021)</strong></h5>
					<h6>
						<p  align="justify">Mentored and adjudged teams from across the globe participating in the prestigious hackathon and ideathon for the underprivileged.
							
						</p>
					</h6>
					<br>
				<h5><i class="fa fa-dot-circle"></i>&nbsp;&nbsp;<strong>Jt. Secretary, International Organisation of Software Developer, Delhi Technological University (Jul'19 - Jul-20)</strong></h5>
					<h6>
						<p align="justify">
							Organised hackathons, took sessions on Android, Data Structures, and Machine Learning for the students. Built an open-source community to facilitate technological discussions and development, initiated hands-on open source projects to foster a culture of development.
						</p>
					</h6>
					<br>
				<h5><i class="fa fa-dot-circle"></i>&nbsp;&nbsp;<strong>University Student Internship Program, Delhi Technological University (Aug'17 - Jul'20)
					</strong></h5>
					<h6>
						<p align="justify">
							<!-- <ul>
								<li>Organized SIGs for Programming, Data Structures, Algorithims intending to bridge the gap between school and college for freshmen students.
								</li>
								<li>Organized Vihaan, in Repertoire, 2018, IEEE DTU’s Annual Cultural Fest.
									Vihaan is an initiative by IEEE DTU Women in Engineering, that aims at encouraging more women to take up engineering. This edition, it was an all girl's programming competition, held on an online platform.</li>
								<li>Conceptualized and organized Design-o-thon, DTU's first ever UI/UX and Designing Hackathon.</li>
								<li>Organized various events in Troika and Repertoire, the Annual Fests of IEEE DTU</li>
								<li>Member of Software Team, responsible for building various applications and softwares required.</li>
								</ul> -->
                                Developed and deployed end to end web applications for Alumni Affairs and Environment Engineering Department.
						</p>
					</h6>
					<br>
				<h5><i class="fa fa-dot-circle"></i>&nbsp;&nbsp;<strong>Technical Consultant- Android Development, Society of Robotics, Delhi Technological University (Aug'19-Jul'20)
				</strong></h5>
					<h6>
						<p  align="justify"> 
							Organized SIG’s, seminars, workshops, and sessions for the batch of 200+ students in technologies like Android, Java for the Society of Robotics.					
						</p>
					</h6>
					<br>
			</div>
		</div>
	</div>
</section>