<section id="projects">
	<div class="container">
		<h3><strong>Projects</h3></strong>
		<div class="panel panel-default">
			<div class="panel-body">
				<h5><i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a
					href="https://github.com/sarthakaggarwal97/DeepLearning-COVID19-XRay-Detection"
					target="_blank">Deep Learning to detect COVID-19 through Chest X-Ray
					Images</a></strong></h5>
					<h6>
						<p>This project's goal was to detect COVID19 by training a self-developed and available
							deep learning models of VGG-16,
							ResNet-50, and InceptionV3 on Chest X-Ray Images.  <br>The images from the IEEE8023 X-Ray
							Dataset were classified into four
							separate classes, namely Normal, Pneumonia Bacterial, Pneumonia Viral, and COVID19.
						</p>
					</h6>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-body">
				<h5><i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a
					href="https://github.com/sarthakaggarwal97/NLP_Document_Scrubbing_Service"
					target="_blank">Natural Language Processing Data Scrubbing Service</a></strong></h5>
					<h6>
						<p>This project's goal was to built a service to identify and scrub the relevant sentences of
							the
							document against a list of entities.  <br> The service was built by implementing Named Entity
							Recognition and
							Coreference Resolution.
						</p>
					</h6>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-body">
				<h5><i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a
					href="https://github.com/sarthakaggarwal97/Derivatives-Analysis" target="_blank">Financial
					Derivatives Analyser</a></strong></h5>
					<h6>
						<p>Financial Derivatives Analyser is an Angular-Springboot based rest application that can
							analyze
							Futures and Options derivatives by deriving maximum possible profits/losses, breakeven
							points, and generate net payoffs graphs of the
							trades.  <br> This includes a backend layer built over the implementation of complex financial
							algorithms to calculate the different financial features.
						</p>
					</h6>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-body">
				<h5><i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a
					href="http://www.dtufarewell2020.in/" target="_blank">DTU
					Farewell Web Application</a></strong></h5>
					<h6>
						<p>2020 which brought COVID Lockdown and restrictions for the graduates, and consequently taking
							away the opportunity for the Batch of 2020 to have a farewell they deserve.  <br>
							Turning crisis into opportunity, developed a web application facilitate the farewell for
							more than
							2000 fellow students for the batch of 2020. An opportunity for students to have their
							profiles,
							share their memories with each other, voting each other for their title, putting up a
							pictures on photowall,
							etc.
							<br>This gathered a reach of around 7600 new users, along with 400k page views
							within a week from the web application's release.
						</p>
					</h6>
			</div>
		</div>
	</div>
</section>