<section id="projects">
	<div class="container">
		<h3><strong>PUBLICATIONS</h3></strong>
		<div class="panel panel-default">
			<div class="panel-body">
				<h4><strong>Journal</h4></strong>
				<h5><i class="fa fa-book"></i>&nbsp;&nbsp;<strong><a
							href="http://sersc.org/journals/index.php/IJAST/article/view/22370"
							target="_blank">State of the Art Methodology for Prediction of Patient’s Mortality within the Early Hours of ICU</a></strong></h5>
					<h6><strong>Authors:</strong> Dr. Rajni Jindal, Sarthak Aggarwal, and Saanidhi</h6>
					<h6>
						<p align="justify">The research work was an extension to my previous publication. This paper included more comprehensive analysis employing feature extraction techniques with more attributes, and even better results. This paper has employed eight classifiers over feature selection and extraction methods involving PCA, LDA, LLE, t-SNE, and Chi2 Test were used for novel preprocessed dataset files: Linear Support vector (SVM), K Nearest Neighborhood (KNN), Linear Logistic Regression, Naive Bayes, Decision Tree, Random Forest, Boosted Trees, Regular SVM, and Multilayer Perceptron (MLP).
					</h6>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-body">
				<h4><strong>Conference</h4></strong>
				<h5><i class="fa fa-book"></i>&nbsp;&nbsp;<strong><a
							href="https://link.springer.com/chapter/10.1007%2F978-981-15-7078-0_15"
							target="_blank">Unfolding Healthcare: Novel Method for Predicting Mortality of Patients Within Early Hours of ICU</a></strong></h5>
					<h6><strong>Authors:</strong> Dr. Rajni Jindal, Sarthak Aggarwal, and Saanidhi</h6>
					<h6>
						<p  align="justify">This paper’s primary goal is to classify high-risk patients so they can seek more aggressive
							treatment and decrease their chance of dying.  <br>An early estimate of patient survival based on
							initial (first 24 h) test tests, chart events, and patient demographic information was
							established to accomplish this.  <br>The secondary goal of the project and classifier is to
							classify patients at lower risk who do not need to be handled as vigorously so that
							appropriate care can be received, thus lowering health costs.</p>
					</h6>
			</div>
		</div>
	</div>
</section>